.slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-size: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    //opacity: 0.7;
    background-size: contain;
    z-index: 100;
}

.slick-prev{
    background-image: url(/images/prod/sliders/arrow-left.svg);
    //transform: translate(-100%, -50%);
    left: 10px;

}

.slick-next{
    background-image: url(/images/prod/sliders/arrow-right.svg);
    right: 10px;
    //transform: translate(100%, -50%);


}


.slick-dots {
    display: flex;
    font-size: 0;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

    li {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 3px solid $secondaryColor;
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &.slick-active {
            background-color: $secondaryColor;
        }
    }

    button {
        font-size: 0;
    }
}

