#customer-opinions {
    margin-bottom: 66px;

    $br-md: 1030px;
    $br-sm: 930px;
    $br-xs: 580px;

    > .content {
        display: flex;
        justify-content: space-between;
    }

    .customer-box{
        position: relative;
    }

    .customer-image {
        max-width: 378px;
    }


    .text-wrap {
        position: absolute;

        top: 25px;
        color: $colorGrey;



        .line-white {
            padding-left: 12px;
            padding-right: 12px;

            @include maxw($br-xs) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .line-1 {
            font-size: 24px;
            font-weight: 600;
            padding-top: 9px;
            padding-bottom: 9px;
            margin-bottom: 6px;

            @include maxw($br-md) {
                font-size: 20px;
            }

            @include maxw($br-xs) {
                font-size: 16px;
                text-align: center;
            }
        }

        .line-2, .line-3 {
            margin-bottom: 5px;
            font-size: 18px;
            height: 27px;
            display: flex;
            align-items: center;

            @include maxw($br-md) {
                font-size: 16px;
            }

            @include maxw($br-xs) {
                font-size: 14px;
                text-align: center;
                justify-content: center;
            }
        }

        .customer-name {
            margin-top: 17px;
            font-weight: 600;
            font-size: 16px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include maxw($br-xs) {
                font-size: 14px;
            }
        }
    }

    .col-left {
        margin-right: 30px;
        .text-wrap {
            right: 45px;
            transform: translateX(100%);

            @include maxw($br-md) {
                right: 110px;
            }

            @include maxw($br-sm) {
                width: 100%;
                right: auto;
                bottom: 24px;
                transform: translate(0, 0);
                top: auto;
            }
        }
        .customer-name {
            text-align: right;
        }
    }

    .col-right {
        margin-top: 248px;

        @include maxw($br-md) {
            margin-top: 218px;
        }

        .text-wrap {
            left: 45px;
            transform: translateX(-100%);
            text-align: right;

            @include maxw($br-md) {
                left: 110px;
            }

            @include maxw($br-sm) {
                width: 100%;
                left: auto;
                top: 40px;
                transform: translate(0, -100%);
            }

            @include maxw($br-xs) {
                top: -10px;
            }
        }

        .line-2, .line-3 {
            justify-content: flex-end;
        }

        .customer-name {
            text-align: left;
        }


    }


}