.footer-copyrights {
    padding: 31px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.5);

    > .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .company-name {
        text-transform: uppercase;
        font-size: 21px;
    }

    .copyrights {
        font-size: 13px;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 20px;
            background-size: contain;
            background-image: url(/images/prod/footer/copyright.svg);
            background-repeat: no-repeat;
        }
    }
}