#footer section.footer-nav {
    margin-bottom: 50px;

    @supports (display:grid) {
        > .content {
            display: grid;
            grid-template: auto / repeat(4, 1fr);
        }
    }



    .menu-title {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 17px;
        margin-bottom: 40px;
        position: relative;

        //decorative underline
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: #ffffff;
            left: 0;
            bottom: -3px;

        }
    }

    .footer-navigation-social-media {
        text-align: right;

        .menu-title:before {
            left: auto;
            right: 0;
        }
    }


    .menu-item {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
    }
}