.hamburger {
	display: none;
	@include maxw($br-sm) {
		display: block;
		font: inherit;
		overflow: visible;
		margin: 0;
		cursor: pointer;
		transition-timing-function: linear;
		transition-duration: .15s;
		transition-property: opacity,filter;
		text-transform: none;
		color: inherit;
		border: 0;
		background-color: transparent;
	}
}

.hamburger-box {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

.hamburger-inner {
	top: 50%;
	display: block;
	margin-top: -2px
}

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
	background-color: $primaryColor;
}


.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	position: absolute;
	width: 40px;
	height: 4px;
	transition-timing-function: ease;
	transition-duration: .15s;
	transition-property: transform;
	border-radius: 4px;
	background-color: #000;
}

.hamburger-inner:after,.hamburger-inner:before {
	display: block;
	content: ""
}

.hamburger-inner:before {
	top: -10px
}

.hamburger-inner:after {
	bottom: -10px
}

