.main-navigation {
    position: fixed;
    z-index: 999;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 320px;
    transform: translateX(-100%);
    overflow-x: hidden;
    transition: 0.5s;
    height: 100%;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
    background: #fff;
    opacity: 0;

    @include minw($br-sm) {
        top: 60px;
    }

    @include minw($br-md) {
        position: static;
        transform: translateX(0);
        box-shadow: none;
        height: auto;
        top: auto;
        bottom: auto;
        width: auto;
        opacity: 1;
    }

    &.is-open {
        transform: translateX(0);
        opacity: 1;
    }

    ul.menu {
        @include minw($br-md) {
            display: flex;
        }
    }

    .menu-item {
        border-top: 1px solid #e2e2e2;

        //underline on hover
        @mixin underline-on-hover {
            content: '';
            display: block;
            bottom: -10px;
            width: 100%;
            height: 2px;
            background-color: $secondaryColor;
            transition: all 0.2s;
            position: relative;
        }

        @include minw($br-md) {
            border-top: none;
            border-bottom: none;
            font-size: rem(15px);
            margin-right: 32px;
            padding-bottom: 10px;
            transition: all 0.2s;

            &:after {
                @include underline-on-hover;
                opacity: 0;
            }

            &:hover {
                color: $secondaryColor;
            }

            &:hover:after {
                opacity: 1;
            }
        }

        &:first-child {
            border-top: none;
        }

        &:last-child {
            border-bottom: 1px solid #e2e2e2;
            @include minw($br-md) {
                border-bottom: none;
                margin-right: 0;
            }
        }

        &.current-menu-item {
            color: $secondaryColor;



            &:after {
                @include minw($br-md) {
                    @include underline-on-hover;
                    opacity: 1;
                }
            }

            //horizontal line indicating active item
            a:before {
                height: 100%;
                width: 6px;
                content: '';
                display: block;
                background-color: $secondaryColor;
                left: 0;
                top: 0;
                position: absolute;

                @include minw($br-md) {
                    display: none;
                }

            }

        }

        a {
            font-weight: 700;
            padding: 17px;
            text-transform: none;
            word-wrap: break-word;
            display: block;
            position: relative;

            @include minw($br-sm) {
                padding-left: 52px;
            }

            @include minw($br-md) {
                font-weight: normal;
                padding: 2px;
            }

        }
    }
}

.header #overlay-shadow {

    @include minw($br-md) {
        display: none;
    }
}